.header-content {
    /* Photo by Sincerely Media on Unsplash
    Photo by <a href="https://unsplash.com/@sincerelymedia?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Sincerely Media</a> on <a href="https://unsplash.com/photos/book-page-beside-eyeglasses-and-coffee-_-hjiem5TqI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/
    background: linear-gradient(rgba(185, 185, 185, 0.2), rgba(185, 185, 185, 0.4)), url( "../../images/home.jpg") center/cover no-repeat;
    flex-direction: column;
    min-height: 75vh;
}

.header-title {
    font-size: 4.2rem;
}

.header-text {
    margin-top: 1.8rem;
    margin-bottom: 2.8rem;
    max-width: 770px;
    opacity: 0.7;
}